body{
    color: rgb(8, 7, 8);
    background-color: rgb(225, 183, 241);




    header {
    border-bottom: solid 2px rgb(142, 44, 199);
    padding: 20px;
    font-size: 32px;
    color: rgb(105, 77, 121);
}
section {
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}